{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            {% for job in jobs %}
            <div class="col-lg-4 mb-4">
                <div class="card rounded-lg">
                    <div class="card-header bg-dark text-white rounded-top">
                        <h5 class="mb-0">{{ job.job_name }}</h5>
                    </div>
                    <div class="card-body p-4">
                        <p class="card-text"><strong>Position:</strong>{{ job.position }}</p>
                        <p class="card-text"><strong>Job type:</strong> {{ job.job_type }}</p>
                        <p class="card-text"><strong>Location:</strong>{{job.location}}</p>
                        <p class="card-text"><strong>Salary:</strong>{{job.salary}}</p>
                        <p class="card-text"><strong>Experience:</strong>{{job.experience}}</p>
                        <p class="card-text"><strong>Description:</strong>{{job.description}}</p>
                        <a href="#" class="btn btn-dark">Apply now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
