{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .container {
        padding-bottom: 490px;
    }
    .background_class{
        background-color:rgba(0,0,0,.3);
        filter: blur(5px);
        height:100%;
        position:fixed;
        width:100%;
        top:0;
        left:0;
        background-image: url('/static/img/jobs.jpg');
         background-size: cover;
        z-index: -1;
    }
    .hok{
        font-size: 25px;
    }
</style>
<div class="background_class"></div>
    <div class="container text-center">
        <h1 class="text-white mb-4">Candidate list for {{ job.position }}</h1>
        {% if usernames %}
            <div class="card bg-dark text-white" style="max-width: 600px; margin: 0 auto;">
                {% for username in usernames %}
                    <li class="list-group-item bg-dark hok">
                        <p>{{ username }}</p>
                    </li>
                {% endfor %}
            </div>
        {% else %}
            <p class="mt-4">No candidates yet</p>
        {% endif %}
    </div>
{% endblock %}