{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_authenticated and profile %}
  <div class="container my-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-secondary">
                <div class="d-flex justify-content-center mt-3">
                    {% if profile.photo %}
                        <img src="{{ profile.photo.url }}" style="height: 300px; width: 200px" class="card-img-top" alt="User Avatar">
                    {% else %}
                        <img src="{% static 'img/prof.jpg' %}" style="height: 300px; width: 200px" class="card-img-top" alt="User Avatar">
                    {% endif %}
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ user.profile.name }}</h5>
                    <p class="card-text">{{ user.email }}</p>
                    <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
            <div class="card mt-3 bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">My Job Applications</h5>
                    <ul>
                        {% for job in user.jobs.all %}
                            <li>{{ job.title }}</li>
                        {% endfor %}
                    </ul>
                    <a href="#" class="btn btn-danger">Clear List</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">About Me</h5>
                    <p class="card-text">{{ user.profile.about_me }}</p>
                </div>
            </div>

            <div class="card mt-3 bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">My Skills</h5>
                    <ul>
                        {{ user.profile.my_skills }}
                    </ul>
                </div>
            </div>

            <div class="card mt-3 bg-secondary">
                <div class="card-body">
                    <h5 class="card-title">My Experience</h5>
                    <ul>
                        {{ user.profile.my_experience }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
{% else %}
    <p>Please set up your profile to view this page.</p>
{% endif %}
{% endblock %}
